
{% verbatim %}
<script type="text/template" id="single-status-box-template">
    {{#each result}}

                    <div class="row status-box" >
                        <div class="col-12 status-header" > 
                            <div class=" avatar-align-right-container ">
                                    <img class="avatar-icon" alt="profile" value='{{user_id}}'>
                            </div>
                            <div class="">
                                <a>{{user_custom_name}}</a>
                                <p class="date-info">Last edited: {{last_edited}}</p>

                            </div>
                            <div class="btn-group dropdown post-setting-menu">
                                <button type="button" style="color:grey"class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa-solid fa-ellipsis"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <button class="dropdown-item delete-status-btn" type="button"><i class="fa-solid fa-trash"></i>Delete</button>

                                    <button class="dropdown-item" type="button"><i class="fa-solid fa-eye"></i>Change Visibility</button>
                                    <form class='delete-status-form' hidden action='/api/delete-status/'method='POST'>
                                        {% endverbatim %}
                                        {% csrf_token %}
                                        {% verbatim %}
                                        <input name='pk' value="{{pk}}">
                                        <input id='delete-status-submit'type='submit'>

                                    </form>
                                  </div>
                            </div>
                        </div>
                            <div class="col-12 row container justify-content-center">
                                <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-10" >
                                    <!-- <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-9" > -->
                                    <div class="">
                                            <div class=" container">
                                                <div class="row status-text" >
                                                    <p>

                                                    {{text_content}}
                                                    </p>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="image-preview-container show-container">
                                        <div  class="preview-image-column-container left-column-container">
                                            {{#each images}}
                                            <div class="img-box" >
                                                <img class="preview-image rounded" src="{{image_file}}" alt="image-3">
        
                                            </div>
                                            {{/each}}

                                        </div>
                                        <div class="preview-image-column-container right-column-container">
                                            
        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                           
                            <div style="display: flex;flex-direction: row;justify-content: space-around;">
                                <button class="btn"><i class="fa-regular fa-comment"></i></button>
                                {{#if is_liked }}
                                    <button type="button"class="btn like-button" is_liked={{is_liked}}><i class="fa-solid fa-heart heart-logo font-color-red"></i><p class='likes-count'>{{likes_num}}</p></button>
                                {{else}}
                                    <button type="button" class="btn like-button" is_liked={{is_liked}} ><i class="fa-regular fa-heart heart-logo" ></i><p class='likes-count'>{{likes_num}}</p></button>
                                {{/if}}
                                <button class="btn"> <i class="fa-solid fa-share"></i></button>
                                
                                <form class="dislike-post-form"  hidden action='/api/dislike-a-post/' method='POST'>
                                    <input type="text" name="status" value='{{pk}}'>
                                    <input type="submit"  value='ok'>

                                    {% endverbatim %}
                                    {% csrf_token %}
                                </form>

                                {% verbatim %}
                                <form class="like-post-form" hidden action='/api/like-a-post/' method='POST'>
                                    <input type="text" name="status" value='{{pk}}' >
                                    <input type="submit"  value='ok'>

                                {% endverbatim %}

                                        {%csrf_token%}

                                {% verbatim %}
                                </form>
                            </div>
                        </div>
                        {{/each}}
</script>
{% endverbatim %}