{% extends "pamphlet/base.html" %}
{%load bootstrap4 %}
{% load static %}

{% block content %}
    <script src="{% static 'js/handlebars-v4.7.7.js'%}"></script>
    <script src="{% static 'js/status.js'%}"></script>

    <link rel="stylesheet" href="{% static 'css/status.css'%}"></script>

        <div id="status-container"class="status-container container justify-content-center">
        </div>

        {% include './handlebar_templates/single-status-box-template.html' %}


<script>
    $.ajax(
        {
            type:"GET",
            url:"/api/get-friends-status/",
            success:function(data){
                console.log('get friend status')
                display_serach_result(data)
                loadStatusAvatar($('#status-container'))
                setupLikeButtons()

            },
            error:function(result){
                console.log(result.responseText)
            }

        }
    )
    function display_serach_result(data){
        data_dict ={result:data}
        //console.log(data_dict)
        var tpl = $("#single-status-box-template").html()
        var template = Handlebars.compile(tpl)
        var html = template(data_dict)
        $("#status-container").html(html)
        //console.log(html)
    }

</script>
{% endblock%}