{% extends "pamphlet/base.html" %}
{%load bootstrap4 %}
{% load static %}

{% block content %}
    <script src="{% static 'js/handlebars-v4.7.7.js'%}"></script>

    <style>
        .status-box{
            border-width: 1px;
            border-color: lightgrey;
            border-style: none none solid none;
            background-color: white;
        }
        main{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .friends-container{
            height: 100%;
            background-color: white;
        }
        .friend-box{
            background-color: white;
            padding: 20px;
            border-bottom: 1px solid lightgray;
        }
        .chat-button{
            position: absolute;
            transform: translate(0,-150%);
        }
        .chat-button-wrapper {
            display: flex;
        }
    </style>
        <div style="width: 100%;">
            <div id="friends-list-container"class="friends-container container col-12 col-sm-12 col-md-8 col-lg-5">
            </div>
        </div>


    {% verbatim %}
        <script type="text/template" id="single-friend-box" >
            {{#each result}}
                        <div class="friend-box ">
                            <div class="" >
                                {{user_custom_name}}
                                <p class="date-info">{{user_id}}</p>
                            </div>
                            <div class="chat-button-wrapper justify-content-end" >
                                <button class='btn btn-primary chat-button' onclick="chat_with_friend('{{user_id}}')">Chat</button>

                            </div>
                        </div>
            {{/each}}
        </script>
    {% endverbatim %}

<script>
    $.ajax(
        {
            type:"GET",
            url:"/api/get-friends-list/",
            success:function(data){
                console.log('get friend list')
                console.log(data)
                display_serach_result(data)
            },
            error:function(result){
                console.log(result.responseText)
            }

        }
    )
    function display_serach_result(data){
        data_dict ={result:data}
        console.log(data_dict)
        var tpl = $("#single-friend-box").html()
        var template = Handlebars.compile(tpl)
        var html = template(data_dict)
        $("#friends-list-container").html(html)

        
    }
    function chat_with_friend(friend_id){
        window.location.href="/private-chat-room/"+friend_id+"/"
    }
</script>
{% endblock%}