{% extends "pamphlet/base.html" %}
{%load bootstrap4 %}
{% load static %}


{% block content %}

    <script src="{% static 'js/handlebars-v4.7.7.js'%}"></script>
    <script src="{% static 'js/jquery-3.6.0.min.js'%}"></script>
    <link  rel="stylesheet" href="{% static 'emoji-picker-main/lib/css/emoji.css'%}">

    <style>
        .status-box{
            border-width: 1px;
            border-color: lightgrey;
            border-style: none none solid none;
        }
        main{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .friends-container{
            height: 100%;
            background-color: white;
        }
        .friend-box{
            background-color: white;
            padding: 20px;
            border-bottom: 1px solid lightgray;
        }
        .chat-button{
            position: absolute;
            transform: translate(0,-150%);
        }
        .chat-button-wrapper {
            display: flex;
        }
        .user-info-container{
            cursor: pointer;
            display: flex;
            flex-direction: row;
        }
        #friend-profile-container{
            visibility: hidden;
        }
        #background-image{
            transform: translate(50%,200%);
        }
    </style>
        <div style="width: 100%;display: flex;flex-direction: row;" >
            <div class="col-sm-6 col-md-6 col-lg-8" style="border-right: 1px solid lightgrey;height: 100%;">
                <div id="bg-container" class="w-100 justify-content-center align-items-center " style="display: flex;">
                    <img id='background-image'src="{% static 'images/Black_Man_Playing_Guitar_Standing_GIF_Animation_Loop.gif'%}">
                </div>
                <div style="width: 100%;" id="friend-profile-container" >
                    {%include './profile.html'  with is_editable=False%}
                </div>
            </div>
            <div id="friends-list-container"class="friends-container container col-12 col-sm-6 col-md-6 col-lg-4">
            </div>

 
        </div>


    {% include "./handlebar_templates/friend-box.html"%}

<script>
    $.ajax(
        {
            type:"GET",
            url:"/api/get-friends-list/",
            success:function(data){
                console.log('get friend list')
                console.log(data)
                display_friend_list(data)
                loadStatusAvatar($("#friends-list-container"))

            },
            error:function(result){
                console.log(result.responseText)
            }

        }
    )
    function display_friend_list(data){
        data_dict ={result:data}
        console.log(data_dict)
        var tpl = $("#single-friend-box").html()
        var template = Handlebars.compile(tpl)
        var html = template(data_dict)
        $("#friends-list-container").html(html)
        $('.friend-box').each(function(){
            var uid = $(this).attr('user_id') 
            $(this).find('.user-info-container').on('click',function(){
                $.ajax(
                    {
                        type:"GET",
                        url:"/api/get-profile/"+uid,
                        success:function(data){
                            console.log('get profile')
                            loadProfile(data);
                            loadProfileStatus(data)
                            $('#bg-container').addClass('hide-container')
                            $('#friend-profile-container').css('visibility','visible')

                        },
                        error:function(result){
                            console.log(result.responseText)
                        }

                    }
                )
            })
        })
        
    }
    function chat_with_friend(friend_id){
        window.location.href="/private-chat-room/"+friend_id+"/"
        //window.open("/private-chat-room/"+friend_id+"/", '_blank').focus();
    }
</script>
<script src="{% static 'js/status.js'%}"></script>

{% endblock%}