{% extends "pamphlet/base.html" %}
{%load bootstrap4 %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css'%}">
    <h1>Create an account</h1>
    <div id="input-container" class="container" >
        <form id="register-form" class="row" action="/api/register/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label class="col">Username</label>
            <input class="col" id="username-input" name="user_custom_name" type="text">
            <div class="w-100"></div>

            <label class="col">ID</label>
            <input class="col" id="userid-input" name="username" type="text">
            <div class="w-100"></div>

            <label class="col" >Password</label>
            <input class="col" id="password-one-input" name="password" type="text">
            <div class="w-100"></div>

            <label class="col" >Confirm Password</label>
            <input class="col" id="password-two-input" name="" type="text">      
            <div class="w-100"></div>

            <div class="col" ></div>
            <input id="register-button" class="col" type="submit" value="Register">
            <div class="col" ></div>
        </form>
    </div>
    <script src="{% static 'js/register.js'%}"></script>
{% endblock%}