<!-- chat/templates/chat/room.html -->

{% extends "pamphlet/base.html" %}
{%load bootstrap4 %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.min.css'%}">

    <script src="{% static 'js/jquery-3.6.0.min.js'%}"></script>

    <script src="{% static 'js/handlebars-v4.7.7.js'%}"></script>
    <link  rel="stylesheet" href="{% static 'emoji-picker-main/lib/css/emoji.css'%}">
    <link  rel="stylesheet" href="{% static 'css/style.css'%}">

    <style>
        .my-message-box .content-box{
            background-color: blanchedalmond;
            border-style: solid;
            border-width: 1px;
            border-color: lightgray;
            padding:20px 10px 20px 15px;
            word-wrap: break-word;
            width: fit-content;
            max-width: 50%;
        }
        .my-message-box{
            justify-content: end;
        }
        .incoming-message-box{
            justify-content: start;
        }
        .incoming-message-box .content-box{
            width: fit-content;
            max-width: 50%;
            padding:10px;
            background-color: white;
            border-style: solid;
            border-width: 1px;
            border-color: lavender;
            word-wrap: break-word;
            padding:20px 10px 20px 15px;
        }
        .single-message-record{
            margin-top: 10px;
            margin-bottom:10px ;
        }
        #chat-log-container{
            background-color: whitesmoke;
            border:1px solid lightgray;
            overflow: auto;
            flex-grow: 1;
        }
        #input-container{
            background-color: whitesmoke;
        }
        #add-button{
            background:none;
            border: none;
            padding: 0 0 0 0;
            margin: 0 0 0 0;
            color: lightskyblue ;
        }
        /* #emoji-button i{
            position: absolute;
            transform: translate(10px,-11px);
            z-index: 2; 
        } */
        #text-input-container{
            border: 1px solid lightgrey;
            background-color: white;
            display: flex;
            margin: 10px 10px 10px 10px ;
        }
        #text-input-container:focus-within{
            border-color: lightskyblue;
        }
        #text-input-container > textarea[type='text']{
            background-color: none;
            border: none;
            outline: none;
            flex-grow: 1;
            margin: 15px;
        }
        #chat-message-submit{
            width: 300px;
        }
        .emoji-wysiwyg-editor {
            height: 100%!important;
            width: 100%!important;
            border: none;
            line-height: 1.5;
        }
        .emoji-wysiwyg-editor:focus{
            outline: none;
            border:none;
        }
        .emoji-picker-container{
            width: 100%;
        }
        .form-control:focus{
            box-shadow: none!important;
        }
        .emoji-menu{
            transform: translateY(-150%);
            width: 100%;
        }
        .emoji-picker{
            font-size: 20px;
            transform: translateY(100%);
        }
        #room-header{
            background-color: whitesmoke;
            width: 100%;
            border-top: 1px solid;
        }
        #send-label{
            cursor: pointer;
            font-size: 2rem;
            color: cornflowerblue;
            font-weight: bold;
        }
        .chat-image{
            width: 100%;
        }
        .video-container{
            background-color: gray;
            border:1px solid lightgray;
            overflow: auto;
            flex-grow: 1;
            display: flex;
            height: 50%;
            position: relative;
        }
        .video-p2p{
            width: 100%;
             height: 100%;
             background-color: grey;
        }
        .video-control-btn{
            width: 1.5rem;
            height: 1.5rem;
            position: absolute;
            background-color: lightskyblue;
            bottom: 0%;
            left: 50%;
            z-index: 99;
            transform: translate(0px,-50%);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .btn-off{
            background-color: red;
        }
        #room-header{
            justify-content: space-around;
        }
    </style>
    <div style="display: flex;flex-direction: column;height: 100%;">
        <div id='room-header'class="d-flex container align-items-center ">
            <div class="ml-2 mr-2 btn">
                <i class="fa-solid fa-arrow-left "></i>
            </div>
            <div class="">
                {{ friend_name}}
            </div>
            <div>
                <button id="video-btn" class="btn">
                    <i class="fas fa-video"></i>
                </button>
            </div>
        </div>
        <!-- <textarea id="chat-log" cols="100" rows="20"></textarea><br> -->
        <div id="chat-log-container" class="container">
    
        </div>
        <div id="video-list-container" class="container d-flex flex-column  hide-container" style="height: 80vh;">
            <div class="video-container">
                <video id="local-video" class="video-p2p" playsInline muted  ></video>
                <button id="mute-btn" class="btn rounded-circle video-control-btn"  ><i class="fa-solid fa-volume-xmark"></i></button>
                <button id="close-cam-btn" style="transform: translate(150%,-50%); "class="btn rounded-circle video-control-btn"><i class="fa-solid fa-video-slash"></i></button>
            </div>


        </div>
        <div class="container p-2 " id="input-container">
            <div class=" justify-content-center d-flex">
                <div id="text-input-container" class="col-10 rounded">
                    <button id="add-button"><label for="image-send"><i class="fa-solid fa-circle-plus"></i></label></button>
                    <input id='image-send'hidden type="file" accept="image/*" >
                    <p class="lead emoji-picker-container">
    
                    <textarea class="form-control textarea-control" id="chat-message-input" type="text"  data-emojiable="true"></textarea><br>
                    </p>
                </div>
                <div class='col-1 d-flex align-items-center p-2'>
                    <label for="chat-message-submit" id="send-label"> <i class="fa-solid fa-angle-right"></i></label>
                    <input class="btn"  id="chat-message-submit" type="button" value="">
    
                </div>
            </div>
    
        </div>
    </div>
    

    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const username="{{user.username}}"
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );
        chatSocket.onopen=function(e){
            sendSignal('new-peer',{})
        }
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data)
            // document.querySelector('#chat-log').value += (data.sender+":"+data.message + '\n');
            if(data['type'] === 'image_message'){
                add_image_message_box(data)
                return;
            }else if(data['type'] === 'chat_message'){
                add_message_box(data)
                return;
            }

            if(data['type']=='send_sdp'){

                var peerUsername = data['peer']
                
                if (peerUsername == username){
                    return
                }

                var action = data['action']

                var receiver_channel_name = data['message']['receiver_channel_name']
                if(action=='new-peer'){
                    console.log('receive new peer:'+peerUsername)
                    createOfferer(peerUsername,receiver_channel_name)
                    return;
                }
                if(action=='new-offer'){
                    console.log('receive new offer')

                    var offer=data['message']['sdp']
                    createAnswer(offer,peerUsername,receiver_channel_name)
                    return
                }
                if(action=='new-answer'){
                    console.log('receive new answer:')

                    answer=data['message']['sdp']
                    var peer = mapPeers[peerUsername][0];
                    peer.setRemoteDescription(answer)
                    return
                }
            }


        };
        document.querySelector('#chat-message-submit').onclick = function(e) {
            e.preventDefault()
            console.log('submi')
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            if (message == ""){
                return
            }
            chatSocket.send(JSON.stringify({
                'message': message,
                'type':'chat_message',
                'action':'send-message'
            }));
            console.log('send')
            messageInputDom.value = '';
            $('#text-input-container .emoji-wysiwyg-editor').empty()
            $("#chat-log-container").animate({ scrollTop: $('#chat-log-container').prop("scrollHeight") }, 1000);

        };
        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };


        function add_image_message_box(data){
            if (data.message_direction == 'incoming'){
                data.friend_avatar='{{friend_avatar.url}}'

                var tpl = $("#single-incoming-image-message-box").html()

            }else{
                data.avatar_url="{{user.avatar.avatar_image.url}}"
                var tpl = $("#single-outgoing-image-message-box").html()
            }
            
            var template = Handlebars.compile(tpl)
            var html = template(data)
            $('#chat-log-container').append(html)
        }
        function add_message_box(data){
            if (data.message_direction == 'incoming'){
                data.friend_avatar='{{friend_avatar.url}}'

                var tpl = $("#single-incoming-message-box").html()

            }else{
                data.avatar_url="{{user.avatar.avatar_image.url}}"
                var tpl = $("#single-outgoing-message-box").html()
            }
            var template = Handlebars.compile(tpl)
            var html = template(data)
            var message_box = $.parseHTML(html)

            $('#chat-log-container').append(message_box)
        }

        $('#image-send').on('change',function(e){
            input = e.currentTarget
            file =input.files[0]
            var reader = new FileReader();
            reader.onload = (function(theFile) {
                    return function(e) {
                        base64_data = e.target.result;
                        console.log(base64_data)
                        chatSocket.send(JSON.stringify({
                            'message': base64_data,
                            'type':'image_message',
                            'action':'send-message'
                        }));
                    ;
                };
                })(file);
                
            reader.readAsDataURL(file);
            
        })
        $('#video-btn').on('click',function(e){
            e.preventDefault()
            btn = e.currentTarget;
            $('#chat-log-container').toggleClass('hide-container')
            $('#video-list-container').toggleClass('hide-container')

            e.stopPropagation()

        })

    </script>

    {% include './handlebar_templates/chat-message-boxes.html'%}
    <script src="{% static 'js/room.js' %}"></script>

    <script src="{% static 'emoji-picker-main/lib/js/config.js' %}"></script>
  <script src="{% static 'emoji-picker-main/lib/js/util.js' %}"></script>
  <script src="{% static 'emoji-picker-main/lib/js/jquery.emojiarea.js' %}"></script>
  <script src="{% static 'emoji-picker-main/lib/js/emoji-picker.js' %}"></script>
  <script>
        var assets_path = "{% static 'emoji-picker-main/lib/img/' %}"
        var emojiarea_js = "{% static 'emoji-picker-main/lib/js/jquery.emojiarea.js' %}"
  </script>


  <script>
      $('#room-header').on('click',function(e){
          window.history.back()
      })
      $.getScript(emojiarea_js, function() {
            console.log('Load was performed.');
            window.emojiPicker = new EmojiPicker({
                emojiable_selector: '[data-emojiable=true]',
                assetsPath: assets_path,
                popupButtonClasses: 'far fa-grin'
            });
            window.emojiPicker.discover();
            
        });

  </script>
{%endblock%}