{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Face Pamphlet</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" id="nav-bar">


        {% if user.is_authenticated %}
          <li class="nav-item active">
            <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/user/{{user.username}}">User Profile <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/friends">Friends <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/friend-request">Friend Requests</a>
          </li>
          <li class="nav-item active mr-auto">
            <a class="nav-link" href="/search-users">Search <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" id="logout-button" href="">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Hello {{user.username}}</a>
          </li>

        {%else %}
          <li class="nav-item active mr-auto">
            <a class="nav-link" href="/search-users">Search <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active mr-auto">
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-right" href="/register">Register</a>
          </li>
        {%endif%}
      </ul>
    </div>
  </nav>
  <script src="{% static 'js/title.js'%}"></script>

