#login-form{

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#login-button{
    max-width: 150px;
}
h1{
    text-align: center;
}
#login-form div{
    width: 50%;
}

input,label{
    margin-top: 10px;
}