.image-preview-container{
    display: none;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
    width: 100%;
    overflow: hidden;
}
.img-box{
    width: 100%;
    flex-grow: 1;
    padding: 5px;
    max-height: 400px;
}
.preview-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border:1px solid lightgrey;
}
.preview-image-column-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    height: auto;
}
.full-row-container{
    flex-direction: row;
    width: 100%;
}
.delete-image-btn-wrapper{
    position: absolute;
    cursor: pointer;
    transform: scale(1.2);
}
.delete-image-btn{
    color: #444;
    margin: 10px;
}

.status-box{
    border-width: 1px;
    border-color: lightgrey;
    border-style: none none solid none;
    width: 100%;
    cursor: pointer;
}
.status-box:hover{
    background-color: rgb(249, 255, 234)
}
.status-container{
    width: 100%;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-bottom: 50vh;

}

.visibility-select-container {
    display: flex;
    align-items: center;
}

.avatar-align-right-container{
    display: flex;
    justify-content: right;
    margin-right: 30px;
}
/* .status-box{
    width: 70%;
} */
.status-header{
    display: flex;
    flex-direction: row;
    margin-top:20px;
    margin-left: 20px;
}
.status-text{
    font-family:  Helvetica, sans-serif;
    font-size: 24px;
}
.likes-count{
    display: inline;
}
.change-visibility-container{
    background:white;
    position:absolute;
    transform:translate(-50%,50%);
    z-index: 100;
    display: none;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgrey;
    width: 300px;
    padding: 10px;
}
.change-visibility-form{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.heart-logo{
    padding-right: 5px;
}