
@import url('sidebar.css');
html{
    height: 100%;
}
#title-text{
    font-size: 1.6em;
    font-family: sans-serif;
    text-align: center;
    padding: 3px;
    padding-top: 3px;
    padding-top: 5px;

}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
    background-color: lightskyblue;
}
#wrapper{
    padding: 0px;
    flex: 1 0;
}
main {
    width: 100%!important;
    align-self: center;
    /* background-color: rgb(224, 246, 253); */
    background-color: white;
    height: 100%;
    overflow: scroll;
}
#nav-bar{
    width: 100%;
}
.date-info{
    color: rgb(78, 78, 78);
}
.icon-span{
    width: 25px;
    height: 25px;
    padding-right:3px;
    display:inline-block;
}
.icon-span>img{
    width: 100%;
}


.avatar-icon{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid lightblue;
}
.dashboard-icon{
    margin: 5px;
}
.hide-container{
    display: none!important;
}
.show-container{
    display: flex!important;
}
.logo{
    width: 35px;
    margin: 10px;
}
#sidebar-heading{
    font-size: 20px !important;
    color: lightskyblue;
    display: flex;

}
#navbarSupportedContent{
    justify-content: end;
}
#navbarSupportedContent>*{
    margin-right: 10px;
}

.like-button-heart{
    margin-right: 5px;
}
.font-color-red{
    color: red;
}
.post-setting-menu{
    position: absolute;
    right:10%;
    top:0px;
}
#page-content-wrapper{
    display: flex;
    flex-direction: column;
}