h1{
    text-align: center;
}
#create-status-container{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: center;
    background-color: white;
    padding-top: 30px;
    border-bottom: 1px solid lightgray;
}
#status-text-input{
    width: 100%;
}
#status-panel{
    margin:10px;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.image-preview-container{
    display: none;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
    width: 100%;
    overflow: hidden;
}
.img-box{
    width: 100%;
    flex-grow: 1;
    padding: 5px;
    max-height: 400px;
}
.preview-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border:1px solid lightgrey;
}
.preview-image-column-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.full-row-container{
    flex-direction: row;
    width: 100%;
}
.delete-image-btn-wrapper{
    position: absolute;
    cursor: pointer;
    transform: scale(1.2);
}
.delete-image-btn{
    color: #444;
    margin: 10px;
}

.status-box{
    border-width: 1px;
    border-color: lightgrey;
    border-style: none none solid none;
    background-color: white;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.status-container{
    width: 80%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.show-container{
    display: flex!important;
}
.visibility-select-container {
    display: flex;
    align-items: center;
}
#status-submit-btn{
    width: 100px;
}
.avatar-align-right-container{
    display: flex;
    justify-content: right;
    margin-right: 30px;
}
/* .status-box{
    width: 70%;
} */
.status-header{
    display: flex;
    flex-direction: row;
    margin-top:20px;
    margin-left: 20px;
}